<div class="col-lg-12">
    <h1 class="text-error centered">{{error_n}}</h1>
    <div class="col-sm-12 danger">
        <h5 class="centered">{{error_message}}</h5>
    </div>
    <br>
    <br>
    <br>
    <div class="col-sm-12">
        <p class="centered">
            Se vedi questa pagina, ti preghiamo di mandare una mail a
            <strong>steinerapplication@gmail.com</strong>
            con il
            <strong>numero dell'errore</strong>
            e la
            <strong>descrizione!</strong>
            Ulteriori informazioni sono benvenute. Grazie per l'aiuto nel migliorare la vostra esperienza.
        </p>
    </div>
</div>

<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
