<div class="modal fade" id="openModaleNuovoStudente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h4 class="modal-title text-white" id="modalTitleCreaStudente"></h4>
        <button type="button" class="btn btn-danger" onclick="closeModaleCreaStudente()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="POST" id="formCreaStudente">

          <label for="nomeCreaStudente">Nome :</label>
          <input type="text" class="form-control" id="nomeCreaStudente" name="nomeCreaStudente">
          <br>
          <label for="cognomeCreaStudente">Cognome :</label>
          <input type="text" class="form-control" id="cognomeCreaStudente" name="cognomeCreaStudente">
          <br>
          <label for="luogoNascitaCreaStudente">Luogo di nascità :</label>
          <input type="text" class="form-control" id="luogoNascitaCreaStudente" name="luogoNascitaCreaStudente">
          <br>
          <label for="dataNascitaCreaStudente">Data di nascità :</label>
          <input type="text" class="form-control" id="dataNascitaCreaStudente" name="dataNascitaCreaStudente" placeholder="YYYY-MM-DD">
          <br>
          <label for="comuneCreaStudente">Comune :</label>
          <input type="text" class="form-control" id="comuneCreaStudente" name="comuneCreaStudente">
          <br>
          <label for="capCreaStudente">Cap :</label>
          <input type="text" class="form-control" id="capCreaStudente" name="capCreaStudente">
          <br>
          <label for="viaCreaStudente">Via :</label>
          <input type="text" class="form-control" id="viaCreaStudente" name="viaCreaStudente">
          <br>
          <label for="numeroCivicoCreaStudente">Numero civico :</label>
          <input type="text" class="form-control" id="numeroCivicoCreaStudente" name="numeroCivicoCreaStudente">
          <br>
          <label for="statoAmmissioneCreaStudente">Stato ammissione :</label>
          <input id="statoAmmissioneCreaStudente" type="checkbox" name="statoAmmissioneCreaStudente" value="ammesso">
          <br>
          <div class="mt-3">
            <button type="submit" class="btn btn-success">Crea</button>
          </div>

        </form>

      </div>

    </div>
  </div>
</div>
