<!-- modale per la GESTIONE di un ANNO SCOLASTICO -->
<div class="modalContentGestioneClasse" id="modalContentCreaAnnoScolastico">

    <div class="modalHeaderGestioneClasse">
        <h3 id="modalTitleCreaAnnoScolastico">Modifica Anno Scolastico</h3>
        <button class="btn btn-md " onclick="closeModalCreaAnnoScolastico()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>

    <div class="modalBodyGestioneClasse" id="modalBody">

      <form method="POST" id="formCreaAnno">

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="annoScolasticoCreaAnno">Anno Scolastico : </label>
            <select class="form-control" id="annoScolasticoCreaAnno" name="annoScolasticoCreaAnno">
            </select>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <button type="submit" class="btn btn-primary">Crea</button>
          </div>
        </div>

      </form>

    </div>

</div>
