<!-- >Modale per la CREAZIONE di una nuova CLASSE <!-->
    <div class="modalContentGestioneClasse" id="modalContentCreaSezione">

        <div class="modalHeaderGestioneClasse">
            <h3 id="modalTitleCreaSezione"></h3>
            <button class="btn btn-md " onclick="closeModaleCreaSezione()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

        <div class="modalBodyGestioneClasse" id="modalBodyCreaSezione">

          <form method="POST" id="formCreaSezione">

            <div class="form-row">

              <div class="form-group col-md-6">
                <label for="annoScolasticoCreaSezione">Anno Scolastico : </label>
                <select class="form-control" id="inizioAnnoCreaSezione" name="inizioAnnoCreaSezione">
                </select>
              </div>


              <div class="form-group col-md-3">
                <label for="classeCreaSezione">Classe : </label>
                <select class="form-control" id="classeCreaSezione" name="classeCreaSezione">
                </select>
              </div>

              <div class="form-group col-md-3">
                <label for="sezioneCreaSezione">Sezione : </label>
                <select class="form-control" id="sezioneCreaSezione" name="sezioneCreaSezione">
                </select>
              </div>

            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="materieCreaSezione">Materie :</label>
                <input type="text" class="form-control" id="materieCreaSezione" name="materieCreaSezione" placeholder="Storia,Italiano,Matematica,...">
                <small>Inserire le materie separate da una virgola</small>
              </div>
            </div>

            <div class="col-sm-12">
              <label>Maestro di Classe</label>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nomeMaestroCreaSezione">Nome :</label>
                <input type="text" class="form-control" id="nomeMaestroCreaSezione" name="nomeMaestroCreaSezione">
              </div>
              <div class="form-group col-md-6">
                <label for="cognomeMaestroCreaSezione">Cognome :</label>
                <input type="text" class="form-control" id="cognomeMaestroCreaSezione" name="cognomeMaestroCreaSezione">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <button type="submit" class="btn btn-primary">Crea</button>
              </div>
            </div>
          </form>

        </div>
        <div class="modalFooterCreaSezione" id="modalFooterCreaSezione">
            <h4 id="modalFooterContentCreaSezione"></h4>
        </div>

    </div>
