<!-- >Modale per la CREAZIONE di una nuova CLASSE <!-->
    <div class="modalContentNuovaClasse" id="modalContentNuovaClasse">

        <div class="modalHeaderNuovaClasse">
            <h3 id="modalTitleNuovaClasse"></h3>
            <button class="btn btn-md " onclick="closeModaleNuovaClasse()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

        <div class="modalBodyNuovaClasse">
            <form method="POST" id="formNuovaClasse">

                <div class="form-group">
                    <div class="row">

                        <div class="col-sm-12">
                            <label for="classeNuovaClasse">Classe : </label>
                            <select class="form-control" id="classeNuovaClasse">
                                <option value="1" selected>1 </option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </div>

                    </div>
                </div>
                <button class="btn btn-md btn-blue btn-center" id="saveNuovaClasse">Crea!</button>
                <br>

            </form>
        </div>
        <div class="modalFooterNuovaClasse" id="modalFooterNuovaClasse">
            <h4 id="modalFooterContentNuovaClasse"></h4>
        </div>

    </div>
