<!-- >Modale per la GESTIONE di una CLASSE <!-->
<div class="modalContentGestioneClasse" id="modalContentGestioneClasse">

    <div class="modalHeaderGestioneClasse">
        <h3 id="modalTitleGestioneClasse"></h3>
        <button class="btn btn-md " onclick="closeModaleGestioneClasse()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>

    <div class="modalBodyGestioneClasse" id="modalBodyGestioneClasse">

      <form method="POST" id="formGestioneClasse">


        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="inizioAnnoGestioneClasse">Anno Scolastico : </label>
            <select class="form-control" id="inizioAnnoGestioneClasse" name="inizioAnnoGestioneClasse">
            </select>
          </div>


          <div class="form-group col-md-3">
            <label for="classeGestioneClasse">Classe : </label>
            <select class="form-control" id="classeGestioneClasse" name="classeGestioneClasse">
            </select>
          </div>

        </div>


        <div class="form-row">

          <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary">Modifica</button>
            <button type="button" class="btn btn-primary" id="deleteClasseBtn">Elimina</button>
          </div>

        </div>


      </form>

    </div>

</div>
