<!-- modale per la GESTIONE di un ANNO SCOLASTICO -->
<div class="modalContentGestioneAnnoScolastico">

    <div class="modalHeaderGestioneAnnoScolastico">
        <h3 id="modalTitleGestioneAnnoScolastico">Modifica Anno Scolastico</h3>
        <button class="btn btn-md " onclick="closeModalGestioneAnnoScolastico()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>

    <div class="modalBodyGestioneAnnoScolastico" id="modalBody">

      <form method="POST" id="formGestioneAnno">

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="annoScolasticoGestioneAnno">Anno Scolastico : </label>
            <select class="form-control" id="annoScolasticoGestioneAnno" name="annoScolasticoGestioneAnno">
            </select>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <button type="submit" class="btn btn-primary">Modifica</button>
            <button type="button" class="btn btn-primary" id="deleteAnnoBtn">Elimina</button>
            <button type="button" class="btn btn-primary" id="avanzaAnnoBtn">Avanza</button>
          </div>
        </div>

      </form>

    </div>

</div>
