<!-- >Modale per la GESTIONE di una CLASSE <!-->
<div class="modalContentGestioneClasse">

    <div class="modalHeaderGestioneClasse">
        <h3 id="modalTitleGestioneClasse"></h3>
        <button class="btn btn-md " onclick="closeModaleGestioneClasse()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>

    <div class="modalBodyGestioneClasse" id="modalBodyGestioneClasse">

        <form method="POST" id="formClasseGestioneClasse">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                      <label for="selectClasseGestioneClasse"> Classe </label>
                      <select form="formClasseGestioneClasse" id="selectClasseGestioneClasse">
                        <option id="optionGestioneClasse_1" value="1"> 1 </option>
                        <option id="optionGestioneClasse_2" value="2"> 2 </option>
                        <option id="optionGestioneClasse_3" value="3"> 3 </option>
                        <option id="optionGestioneClasse_4" value="4"> 4 </option>
                        <option id="optionGestioneClasse_5" value="5"> 5 </option>
                        <option id="optionGestioneClasse_6" value="6"> 6 </option>
                        <option id="optionGestioneClasse_7" value="7"> 7 </option>
                        <option id="optionGestioneClasse_8" value="8"> 8 </option>
                      </select>
                    </div>

                    <div class="col-sm-4">
                        <button class="btn btn-sm btn-blue">Save</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>
