<!-- >Modale per la CREAZIONE di una nuova CLASSE <!-->
    <div class="modalContentNuovaClasse" id="modalContentNuovaClasse">

        <div class="modalHeaderNuovaClasse">
            <h3 id="modalTitleNuovaClasse"></h3>
            <button class="btn btn-md " onclick="closeModaleNuovaClasse()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

        <div class="modalBodyNuovaClasse">
            <form method="POST" id="formNuovaClasse">

                <div class="form-group">
                    <div class="row">

                        <div class="col-sm-6">
                            <label for="classeNuovaClasse">Classe : </label>
                            <select class="form-control" id="classeNuovaClasse">
                                <option value="1" selected>1 </option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="sezioneNuovaClasse">Sezione : </label>
                            <select class="form-control" id="sezioneNuovaClasse">
                                <option value="A" selected>A</option>
                                <option value="B" >B</option>
                                <option value="C" >C</option>
                                <option value="D" >D</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-6">
                            <label for="nomeMaestroNuovaClasse">Nome Maestro</label>
                            <input type="text" id="nomeMaestroNuovaClasse" class="form-control" >
                        </div>

                        <div class="col-sm-6">
                            <label for="cognomeMaestroNuovaClasse">Cognome Maestro</label>
                            <input type="text" id="cognomeMaestroNuovaClasse" class="form-control" >
                        </div>

                    </div>

                    <h4>Materie</h4>
                    <div class="row">

                        <div class="col-sm-4">
                            <input type="text" name="materieNuovaClasse[]" id="materieNuovaClasse" class="form-control">
                        </div>

                        <div class="col-sm-4">
                            <input type="text" name="materieNuovaClasse[]" id="materieNuovaClasse" class="form-control">
                        </div>

                        <div class="col-sm-4">
                            <input type="text" name="materieNuovaClasse[]" id="materieNuovaClasse" class="form-control">
                        </div>

                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-4">
                            <input type="text" name="materieNuovaClasse[]" id="materieNuovaClasse" class="form-control">
                        </div>

                        <div class="col-sm-4">
                            <input type="text" name="materieNuovaClasse[]" id="materieNuovaClasse" class="form-control">
                        </div>

                        <div class="col-sm-4">
                            <input type="text" name="materieNuovaClasse[]" id="materieNuovaClasse" class="form-control">
                        </div>

                    </div>

                </div>
                <button class="btn btn-md btn-blue" id="saveNuovaClasse">Save</button>
                <br>

            </form>
        </div>
        <div class="modalFooterNuovaClasse" id="modalFooterNuovaClasse">
            <h4 id="modalFooterContentNuovaClasse"></h4>
        </div>

    </div>
