/*Contenitore modali*/
.modal{
    display: none;
    position: all;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* Modale stampa StampaPDF per Anno Scolastico*/
.modalContentStampaPDF{
    z-index: 1;
    display: none;
    position: fixed;
    top: 10%;
    left: 30%;
    height: 200px;
    width: 500px;
    background-color: #eee;
}
.modalHeaderStampaPDF{
    position: absolute;
    top: 0px;
    height: fixed;
    height:25%;
    width: 100%;
    background-color: #337AB7;
}
.modalHeaderStampaPDF > h3 {
    color: #eee;
    margin-right: 25px;
    margin-left: 70px;
    display: inline-block;
}
.modalHeaderStampaPDF > button {
    background-color: #eee;
    position: absolute;
    top:15%;
    left:90%;
}
.modalHeaderStampaPDF > button> span{
    color:#337AB7;
}
.modalBodyStampaPDF{
    position: absolute;
    top:20%;
    height: 80%;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
}



/* Modale modifica Anno Scolastico*/
.modalContentGestioneAnnoScolastico{
    z-index: 1;
    display: none;
    position: fixed;
    top: 10%;
    left: 30%;
    height: 500px;
    width: 500px;
    background-color: #eee;
}
.modalHeaderGestioneAnnoScolastico{
    position: absolute;
    top: 0px;
    height:10%;
    width: 100%;
    background-color: #337AB7;
}
.modalHeaderGestioneAnnoScolastico > h3 {
    color: #eee;
    margin-right: 25px;
    margin-left: 70px;
    display: inline-block;

}
.modalHeaderGestioneAnnoScolastico > button {
    background-color: #eee;
    position: absolute;
    top:15%;
    left:90%;

}
.modalHeaderGestioneAnnoScolastico > button > span {
    color:#337AB7;
}
.modalBodyGestioneAnnoScolastico {
    position: absolute;
    top:10%;
    height: 80%;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
}
.modalBodyGestioneAnnoScolastico > h5 {
    margin-left: 15px;
}
.modalBodyGestioneAnnoScolastico > form > input{
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}



/* Modale Creazione Nuova classe */
.modalContentNuovaClasse{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    top:100px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modalHeaderNuovaClasse{
    position: relative;
    padding: 2px 16px;
    background-color: #337AB7;
    color: white;
    text-align: center;
}
.modalHeaderNuovaClasse > h3 {
    color: #eee;
    margin-right: 25px;
    margin-left: 70px;
    display: inline-block;
}
.modalHeaderNuovaClasse > button {
    margin : 10px;
    background-color: #eee;
    position: absolute;
    right: 0;

}
.modalHeaderNuovaClasse > button> span{
    color:#337AB7;
}
.modalBodyNuovaClasse{
    padding: 2px 16px;
}
.modalFooterNuovaClasse{
    display: none;
    text-align: center;
    padding: 2px 16px;
    background-color: #337AB7;
    color: white;
}



/* Modale Gestione Classe */
.modalContentGestioneClasse{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    top:100px;
    width: 50%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modalHeaderGestioneClasse{
    position: relative;
    padding: 2px 16px;
    background-color: #337AB7;
    color: white;
    text-align: center;
}
.modalHeaderGestioneClasse > h3 {
    color: #eee;
    margin-right: 25px;
    margin-left: 70px;
    display: inline-block;
}
.modalHeaderGestioneClasse > button {
    margin : 10px;
    background-color: #eee;
    position: absolute;
    right: 0;

}
.modalHeaderGestioneClasse > button> span{
    color:#337AB7;
}
.modalBodyGestioneClasse{
    position: relative;
    padding: 15px 16px;
    height: auto;
    width: 100%;
    overflow-y: hidden;
    bottom: 10px;
}
.modalFooterGestioneClasse{
    display: none;
    text-align: center;
    padding: 2px 16px;
    background-color: #337AB7;
    color: white;
}
