<div class="col-lg-12">
    {{#if success_msg}}
      <div class="alert alert-success" role="alert">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
      <div class="alert alert-danger" role="alert">{{error_msg}}</div>
    {{/if}}
    {{{printPermessiGestione utente permessi}}}

</div>

{{> modaleCreazionePermessoUtente }}

<script type="text/javascript" src="/js/modali/modaleCreazionePermessoUtente.js"></script>

<script type="text/javascript" src="/js/gestionePermessi.js"></script>
