<div class="col-sm-12 col-md-8 offset-md-1">
    {{#if success_msg}}
      <div class="alert alert-success" role="alert">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
      <div class="alert alert-danger" role="alert">{{error_msg}}</div>
    {{/if}}
</div>
{{{printPermessiGestione utente permessi annoScolastico}}}


{{> modaleCreazionePermessoUtente }}

<script type="text/javascript" src="/js/modali/modaleCreazionePermessoUtente.js"></script>

<script type="text/javascript" src="/js/gestionePermessi.js"></script>
