<div class="row mt-5">

  <div class="col-sm-7 offset-sm-2">

    {{#if success_msg}}
    <div class="alert alert-success" role="alert">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
    <div class="alert alert-danger" role="alert">{{error_msg}}</div>
    {{/if}}

  </div>

</div>


{{{printInfoUtente utente}}}

{{#if errors}}
{{{printValidationErrors errors}}}
{{/if}}

<script type="text/javascript" src="/js/infoUtente.js"></script>
