<div class="col-lg-12">
    <p><h4 class="text-muted">{{h4_1}}</h4></p>
    {{#if success_msg}}
    <div class="alert alert-success" role="alert">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
    <div class="alert alert-danger" role="alert">{{error_msg}}</div>
    {{/if}}
    {{{printAnniGestione anniScolastici}}}
</div>

<div class="modal" id="modal">
    {{> modaleGestioneAnnoScolastico}}
    {{> modaleCreazioneAnnoScolastico}}
    {{> modaleStampaPDF }}
</div>


<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/modali/modaleStampaPDF.js"></script>
<script type="text/javascript" src="/js/modali/modaleGestioneAnnoScolastico.js"></script>
<script type="text/javascript" src="/js/modali/modaleCreazioneAnnoScolastico.js"></script>
