<br>
<p class="offset-md-1 h5 mt-2"> Informazioni e Permessi
<div class="row mt-2">
  <div class="col-sm-12 col-lg-4 offset-lg-1 gray">
    <a class="h4 text-center text-primary" href="/admin/gestioneUtenti/utente/{{id}}/permessi">Permessi Utente</a>
  </div>
  <div class="col-sm-12 col-lg-4 offset-lg-2 gray">
    <a class="h4 text-center text-primary" href="/admin/gestioneUtenti/utente/{{id}}/infoUtente">Info Utente</a>
  </div>
</div>
